// See: https://sass-lang.com/

@import 'variables';

body {
  background-color: #eee;
  color: $primary;
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 2em;
}

/* Add new item styles */

#new-item {
  margin: 0;
  padding: 0;
}

#new-item-text {
  margin-right: .5em;
}

#error {
  display: none;
}

#confirm {
  display: none;
}

/* Category header styles */

.active {
  border: none;
}

#watch {
  background-color: $to_watch;
}

#read {
  background-color:$to_read;
}

#eat {
  background-color: $to_eat;
}

#buy {
  background-color:$to_buy;
}

/* List item styles */

i.fas {
  padding-right: .75em;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.list-group {
  padding-bottom: 10px;
}

i.edit {
  padding: 0 0 0 .75em;
  font-size: 1.15em;

  &:hover {
    color: $light;
    cursor: pointer;
    font-size: 1.15em;
  }
}

input[type=checkbox]:checked + div label.item {
  text-decoration: line-through;
}

.form-check-label {
  padding-left: 10px;
}

.form-check-input {
  min-width: 1.15em;
  min-height: 1.15em;

  &:checked {
    background-color: $light;
    color: #fff;
    min-width: 1.15em;
    min-height: 1.15em;
    border: none;
  }
}

/* Modal styles */

.modal-footer {
  display: flex;
  justify-content: space-between;
}

// .logo {
//   width: 75px;
//   height: 75px;
//   background-color: red;
//   -webkit-mask-image: url(../public/images/HIPPO_LOGO.svg);
//   mask-image: url(../public/images/HIPPO_LOGO.svg);
// }

/* Progress bar styles */

.progress-bar-rgb{
  animation: rgb infinite 3s;
}

svg{
  fill: $primary;
  filter: drop-shadow(2px 2px 8px rgba(0,0,0,0.2));
}

.svg-rgb{
  animation: rgbfill infinite 3s;
}

.invisible{
  opacity: 0;
}

.visible{
  opacity: 1;
}

@keyframes rgb{
  0% { background-color: $primary;}
  14% { background-color: #a82def;}
  28% { background-color: $to_watch;}
  42% { background-color: $to_read;}
  56% { background-color: $to_eat;}
  70% { background-color: $to_buy;}
  84% { background-color: #2f61bf;}
  100% { background-color: $primary;}
}

@keyframes rgbfill{
  0% {
    fill: $primary;
    stroke: $primary;
    transform: rotate(5deg);
  }
  14% {
    fill: #a82def;
    stroke: #a82def;
    transform: rotate(-5deg);
  }
  28% {
    fill: $to_watch;
    stroke: $to_watch;
    transform: rotate(5deg);
  }
  42% {
    fill: $to_read;
    stroke: $to_read;
    transform: rotate(-5deg);
  }
  56% {
    fill: $to_eat;
    stroke: $to_eat;
    transform: rotate(5deg);
  }
  70% {
    fill: $to_buy;
    stroke: $to_buy;
    transform: rotate(-5deg);
  }
  84% {
    fill: #2f61bf;
    stroke: #2f61bf;
    transform: rotate(5deg);
  }
  100% {
    fill: $primary;
    stroke: $primary;
    transform: rotate(5deg);
  }
}

@keyframes dance {
  0% {
    transform: rotate(5deg)
  }
  50% {
    transform: rotate(-5deg)
  }
  100% {
    transform: rotate(5deg)
  }
}

/* Nav styles */

.navbar-brand {
  display: flex;
  align-items: center;
}

#logo {
  font-family: 'Sniglet', cursive;
  font-size: 65px;
  color: $primary;
  margin-left: -10px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

/* Drag and drop styles */

#item-container.ui-sortable-helper {
  box-shadow: 3px 3px 8px rgba(0,0,0,0.8);
}

#item-container.ui-sortable-placeholder {
  box-shadow: 3px 3px 8px rgba(0,0,0,0.8);
}

.connected-sortable {
  min-height: 10vh;
}
